{% extends "base.html" %}

{% block title %} Wykresy {% endblock %}

{% block content %}
<style>
    .colored-column {
        color: blue;
    }
</style>
<br>
<h3></h3>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <!-- Wykres Plotly Express -->
                {{ heatmap|safe }}
            </div>
<div class="col-md-5">
    <h5>{{ opis }}</h5><br>
<table >
    <tr>
        <td class="colored-column">Profit Max:</td>
        <td> {{ profit_max }}</td>
    </tr>
    <tr>
        <td class="colored-column">Daily Profit Max:</td>
        <td>{{ daily_profit_max }}</td>
    </tr>
    <tr>
        <td class="colored-column"> SMA Fast: </td>
        <td> {{ sm1_max }} </td>
    </tr>
    <tr>
        <td class="colored-column"> SMA Slow: </td>
        <td> {{ sm2_max }} </td>
    </tr>
    <tr>
        <td><br>  </td>
        <td>  </td>
    <tr>
        <td class="colored-column"> Profit Min: </td>
        <td> {{ profit_min }} </td>
    </tr>
    <tr>
        <td class="colored-column"> Daily Profit Min: </td>
        <td> {{ daily_profit_min }} </td>
    </tr>
        <tr>
        <td><br>  </td>
        <td>  </td>
    <tr>
    <tr>
        <td class="colored-column"> SMA Fast: </td>
        <td> {{ sm1_min }} </td>
    </tr>
    <tr>
        <td class="colored-column"> SMA Slow: </td>
        <td> {{ sm2_min }} </td>
    </tr>
        <tr>
        <td><br>  </td>
        <td>  </td>
    <tr>
    <tr>
        <td class="colored-column"> Okresy SMA Fast: </td>
        <td> {{ periods_1 }} </td>
    </tr>
    <tr>
        <td class="colored-column"> Okresy SMA Slow: </td>
        <td> {{ periods_2 }} </td>
    </tr>
        <tr>
        <td><br>  </td>
        <td>  </td>
    <tr>
    <tr>
        <td class="colored-column"> ilość dni: </td>
        <td> {{ time_difference_days }} </td>
    </tr>
</table>
<br>
<br>

<!--                    <form method="POST" action="{{ url_for('charts') }}">-->
<!--                        <label for="instrument">Podaj nazwę instrumentu:</label>-->
<!--                        <input type="text" id="instrument" name="instrument" required>-->
<!--                        <br>-->
<!--                        <button type="submit" class="btn btn-primary">Zapisz dane</button>-->
<!--                    </form>-->
            </div>
        </div>
    </div>
<br>
<div>
    {{ plot_max_html|safe }}
<br>
    {{ plot_min_html|safe }}
</div>
<br>
<div class="container mt-4">
    <table class="table table-sm">
        {{ table|safe }}
    </table>
    <br>
</div>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}