{% extends "base.html" %}

{% block title %} Wykresy {% endblock %}

{% block content %}

<br>
<h3></h3>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <!-- Wykres Plotly Express -->
                {{ heatmap|safe }}
            </div>
            <div class="col-md-5">
                <h5> </h5>
                    Profit Max: {{ profit_max }} <br>
                    Daily Profit Max: {{ daily_profit_max }} <br>
                    SMA Fast: {{ sm1_max }} <br>
                    SMA Slow: {{ sm2_max }} <br>
                    <br>
                    Profit Min: {{ profit_min }} <br>
                    Daily Profit Min: {{ daily_profit_min }} <br>
                    SMA Fast: {{ sm1_min }} <br>
                    SMA Slow: {{ sm2_min }} <br>
                    <br>
                    Okresy SMA Fast: {{ periods_1 }} <br>
                    Okresy SMA Slow: {{ periods_2 }} <br>
                    <br>
                    <br>
                    <h5>{{ opis }}</h5>
                    <form method="POST" action="{{ url_for('charts') }}">
                        <label for="instrument">Podaj nazwę instrumentu:</label>
                        <input type="text" id="instrument" name="instrument" required>
                        <br>
                        <button type="submit" class="btn btn-primary">Zapisz dane</button>
                    </form>
            </div>
        </div>
    </div>
<br>
<div>
    {{ plot_max_html|safe }}
<br>
    {{ plot_min_html|safe }}
</div>
<br>
<div class="container mt-4">
    <table class="table table-sm">
        {{ table|safe }}
    </table>
    <br>
</div>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}